TOKEN=MTUxNjQ2MjAxODk1MjE2NzU2NA.GJXuRH.aF2xxdmkTNXFND6luX-qOUlBmALOSL7GNuh3Tg
WEBHOOK_URL=https://discord.com/api/webhooks/1516473776663957567/ulkEOzw3PmkiG5-Uvb29qYnXADj00dlCRFrk8RkF4YzFwyiA_gkJ5tEyYmE93PpAxxFb
YES_CAPTCHA_API_KEY=
