TOKEN=MTIxNjAxNDk5NTk5Nzg1MTcwMA.GrFy8H.ERAtC8YC6uXVi0dG99C2jYbhKByTLABlPXQ6AQ
WEBHOOK_URL=https://discord.com/api/webhooks/1515099004759838890/Dhgfvyn02KjLMdWDKfTxoo0PlCMGUGpS3OdkWRJfI-UfejzLbTzlIjjGjBYjHejxQfGO
YES_CAPTCHA_API_KEY=
