TOKEN=MTUxNjQ2MjAxODk1MjE2NzU2NA.GsqbBn.bz8qHFw83Jhy-jTVaCNM_I-3kQuuOtrwlbvYxg
WEBHOOK_URL=https://discord.com/api/webhooks/1516473776663957567/ulkEOzw3PmkiG5-Uvb29qYnXADj00dlCRFrk8RkF4YzFwyiA_gkJ5tEyYmE93PpAxxFb
YES_CAPTCHA_API_KEY=
